<a href="https://colab.research.google.com/github/masin556/KNOUStudy/blob/main/pythonstart4%EA%B0%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 4강 1절

In [3]:
3.141592

3.141592

In [4]:
"Computer" #에코기능으로 데이터값 입력시바로 출력된다. word에 쓰는 큰따옴표와는 좀 다르다.

'Computer'

In [7]:
"Hello World!" # MS 워드 인용부호가다른 것을 실행할 경우 오류가 난다.

'Hello World!'

In [9]:
2*7 # 값이 자동으로 계산되는데 이것도 에코기능이다.

14

In [11]:
(7 + 15) * 2 # 각 수학적 우선순위

44

In [13]:
2 ** 10 * 5 # 2의 거듭제곱

5120

In [16]:
# 문자를 덧셈시 더해지는 것을 볼 수 있다.
"computer" + "sicence"

'computersicence'

In [18]:
# 동일 문자를 합쳐서 2번 출력한다.
"computer" * 2

'computercomputer'

In [23]:
print(2 * 7) # 데이터를 여러개 출력시 print함수를 사용하는 것이 좋다.

14

In [24]:
print("Hello world!")
print("Python is fun!")
# 에코모드 사용시 두개가 출력이 안되는데 여러개 실행시 반드시 필요하다.

Hello world!
Python is fun!

In [26]:
# 학점 계산
print((4.5 * 2 + 4.0 * 3) / 2)

10.5

# 4강 2절

In [30]:
#반지름, 높이 값 할당
rad = 40
hei = 10

# 부피 출력

#print(1 / 3 * 3.14 * 20 ** 2 * 30 )
#print(3.14 * 20 ** 2 + 3.14 * 20 * 30)
print(1 / 3 * 3.14 * rad ** 2 * hei )
print(3.14 * rad ** 2 + 3.14 * rad * hei)

16746.666666666664
6280.0

## 산술 연산자

In [33]:
5 / 2

2.5

In [37]:
# 2라는 값만 출력하고 싶다면 어떻게 해야할까?
5 // 2 # 정수 나눗셈 (5의 몫)

2

In [38]:
# 소숫점 부분만 (나머지 값)
25 % 7

4

In [40]:
8.4 % 0.9

0.30000000000000016

In [42]:
# 모듈러 연산자 사용용도
number = 10
number % 2

# 짝수와 홀수 형태를 구분시켜서 볼 수 있다.

0

## 내장함수

In [47]:
max(2, 3, 4) # 가장 큰값

4

In [48]:
min(2, 3, 4) # 가장 작은 값

2

In [49]:
round(3.14) # 정수값

3

In [52]:
abs(-3) # 마이너스 부호가 있으면 양수로 만들어준다.

3

In [53]:
pow(2, 3) # 2^3 인 앞에 있는 숫자에 뒤에 있는 값을 지수로 사용

8

In [68]:
apple = 2
banana = 3
cranberry = 1

detox = (banana ** 2 - 4 * apple * cranberry) // apple
print(detox)

# 9 - 4 * 2 * 1 // 1
# 9 - 8 * 1 // 1
# (9 - 8) // 1
# 1 // 1 = 0

0